footer(class='uk-section uk-section-secondary uk-light uk-flex uk-flex-column uk-flex-middle uk-padding-small')
    ul(class='uk-list uk-width-1-1 uk-flex uk-flex-around')
        li(class='')
            a(href='https://youtube.com', target='_blank')
                i(class='fa fa-linkedin fa-lg', aria-hidden='true')
        li(class='uk-margin-remove-top')
            a(href='https://linkedin.com', target='_blank')
                i(class='fa fa-github fa-lg', aria-hidden='true')
    p &#169; 2023 - Jérémy Deurvillier

script(src='https://cdn.jsdelivr.net/npm/uikit@3.17.4/dist/js/uikit.min.js')