footer
    ul
        li
            a(href='https://youtube.com', target='_blank')
                i(class='fa fa-linkedin fa-lg', aria-hidden='true')
        li
            a(href='https://linkedin.com', target='_blank')
                i(class='fa fa-github fa-lg', aria-hidden='true')
    p &#169; 2023 - Jérémy Deurvillier

script(src='https://cdn.jsdelivr.net/npm/uikit@3.17.4/dist/js/uikit.min.js')