header
    div
        h1
            a(href='/') Jérémy Deurvillier
        nav
            a(href='#navigation', id='openNavigation')
                i(class='fa fa-bars fa-lg' aria-hidden='true')
            ul(id='navigation')
                li
                    a(href='#', id='closeNavigation')
                        i(class='fa fa-times fa-lg' aria-hidden='true')
                li
                    a(href='/') Accueil
                li
                    a(href='/about') A propos
                li
                    a(href='/contact') Contact
    h2=title