head
    meta(charset='utf-8')

    title Jérémy Deurvillier - #{title}
    meta(name='description', content=description)

    meta(name='viewport', content='width=device-width,initial-scale=1,minimum-scale=1.0')

    link(rel='icon', href='/img/jd-logo.svg')

    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin)
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,300&display=swap')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css', integrity='sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==', crossorigin='anonymous', referrerpolicy='no-referrer')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/uikit@3.17.4/dist/css/uikit.min.css')

    //- link(rel='stylesheet', href='/css/styles.css')