head
    meta(charset='utf-8')

    title Jérémy Deurvillier - #{title}
    meta(name='description', content='Blog de Jérémy Deurvillier, Développeur Web et Web Mobile.')

    meta(name='viewport', content='width=device-width,initial-scale=1,minimum-scale=1.0')

    link(rel='icon', href='/img/jd-logo.svg')

    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin)
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,300&display=swap')

    link(rel='stylesheet', type='text/css', href='/css/reset.css')
    link(rel='stylesheet', href='/css/styles.css')