:root {
    --primary-color: #f5f5f5;
    --secondary-color: #171717;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color: #171717;
}

/* ***** Header ***** */

header {
    padding: 10px;
}

header > div {
    display: flex;
    flex-flow: row no-wrap;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 28px;
}

h1 > a,
h1 > a:visited {
    text-decoration: none;
    color: var(--secondary-color);
}

#navigation {
    background-color: var(--secondary-color);
    display: none; /* flex default */
    flex-flow: column wrap;
    justify-content: flex-start;
    position: fixed;
    top:0; bottom: 0;
    left: 0; right: 0;
    padding: 10px;
    transform: translate(0, 0);
}

#navigation:target {
    display: flex;
    transform: translate(0, 0);
}

#navigation li:first-child {
    align-self: flex-end;
}

#navigation li:not(:first-child) a {
    text-align: center;
    display: block;
    margin: 10px;
}

#navigation a,
#navigation a:visited {
    font-size: 20px;
    text-decoration: none;
    color: var(--primary-color);
}

/* ***** Footer ***** */

footer {
    text-align: center;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    height: 64px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    box-sizing: border-box;
}

footer > ul {
    display: flex;
    flex-flow: row no-wrap;
    justify-content: space-around;
}

footer > ul > li > a,
footer > ul > li > a:visited {
    color: var(--primary-color);
    display: block;
    margin: 0 15px;
}

@media screen and (min-width: 576px) {
    footer {
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }

    footer > ul > li > a,
    footer > ul > li > a:visited {
        margin: 0 15px 0 0;
    }
}